*{
    padding: 0;
    margin: 0;
}
.section-one{
    padding: 15px;
    text-align: center;
    background-color: #000000;
    color: white;
    height: 45px;
    
}
.section-one h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
}
.section-two,.section-three,.section-four,.section-five{
    display: inline-block;
    padding: 1px;
    margin-top:5px;
    
    

}

.section-two__title,.section-three__title,.section-four__title,.section-five__title {
    font-weight: bold;
    text-align: center;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc {
    font-weight: normal;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
.container{
    padding: 30px;
    
}
.section-two{
    border: solid black 3px;
    padding: 0%;
    margin-left: 260px;
    
}
.section-three{
    border: solid black 3px;
    padding: 0%;
    
}
.section-four{
    border: solid black 3px;
    padding: 0%;
}
.section-five{
    border: solid black 3px;
    padding: 0%;
}
.section-two__button,.section-three__button,.section-four__button,.section-five__button{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 68px;
    border: solid black 4px;
    color: white;
    background-color: black;
}
.contact-page{
    padding: 6px;
    background-color: black;
    color: white;
    padding-left: 670px;
    padding-top: 18px;
    
}
.contact-page__button{
    color: black;
    background-color: yellow;
    display: inline-block;
    margin-left: 540px;
    width: 270px;
    padding-left: 230px;
    font-size: larger;
    font-weight: bolder;
    
    }
 .contact-page-input__age input{
    margin-left: 12px; 
 }  
 
 .contact-page__title{
    padding-left:45px;
 }

 .contact-page__button button{
    border: none;
 }

